.head {
  width: 1280px;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1359px) {
  .head {
    width: calc(100% - 80px);
  }
}
